.fade-in {
  animation: fade-in ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  min-height: 70vh;

  @screen lg {
    min-height: 95vh;
  }
}

.social-icons:last-child .icon {
  @apply mr-0;
}

.content {
  @apply !pb-0;
}

.collapse .view .title {
  @apply dark:text-white;
}
