{
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
