@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  min-height: 100vh;
  overflow-y: scroll;
}

* {
  scroll-behavior: smooth;
}
