@import './colors';

.ant-card-body {
  padding: 0px;
}

.swiper-container {
  padding: 10px 0px !important;
  height: auto !important;
}

.swiper-slide {
  width: auto !important;
  margin-right: 10px;
}

.swiper-pagination {
  display: none;
}
